/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
/* Pozicion치l치s */

.nevjegykartya {
  width: 37.5rem;
  max-width: calc(100vw - 0.625rem);
  margin-left: auto;
  padding: 0.3125rem;
  margin-right: auto;
}
img {
  width: 9.375rem;
  height: 10rem;
  border-radius: 80%;
  padding: 0.0625rem;
  }
 .head, .adatok, .szoveg, .adatok2, .adatok3 {
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0.625rem;
  margin-bottom: 1%;
  font-size: 1.25rem;
}
/* Contact links */

ul {
  list-style-type: none;
}

li {
  display: inline;
}
body {
  background: url('https://i.imgur.com/VR918aT.png') no-repeat center center fixed;
  background-size: cover;
  
}
.nevjegykartya {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 3.4375rem;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  text-align: center;
  margin-top: 3.125rem;
  
}
.szoveg {
  text-align: justify;
}
.elerhetoseg {
  text-align: center;
}
.adatok {
  margin-right: 16.125rem;
  
}
.adatok2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  margin-top: -4.4375rem;
}
.adatok3 {
  margin-left: 16.125rem;
  margin-top: -8.5625rem;
}
.linkd {
  text-align: center;
}

@media (min-width: 1025px) {

/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

/* Pozicion치l치s */

.nevjegykartya {
  width: 40rem;
  max-width: calc(100vw - 0.625rem);
  margin-left: auto;
  margin-right: auto;
  
}
img {
  width: 9.375rem;
  height: 10rem;
  border-radius: 50%;
  padding: 0.0625rem;
  background-color: #666;
  float: left;
  margin-left: 0.625rem;
  
}
  
.head, .adatok, .szoveg, .adatok2, .adatok3 {
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0.625rem;
  margin-bottom: 0.5%;
  font-size: 1.25rem;
}
/* Contact links */

ul {
  list-style-type: none;
}

li {
  display: inline;
}
body {
  background: url('assets/hatter.jpg') no-repeat center center fixed;
  background-size: cover;
}
.nevjegykartya {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 0.4375rem;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  text-align: center;
  margin-top: 3.125rem;
  
}
.szoveg {
  text-align: justify;
}
.elerhetoseg {
  text-align: center;
}
.adatok {
  margin-right: 24.375rem;
  
}
.adatok2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  margin-top: -2.8125rem;
}
.adatok3 {
  margin-left: 24.375rem;
  margin-top: -7.75rem;
}
.link {
  text-align: center;
}
}